@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 1.2rem;
}

::-webkit-scrollbar-track {
  /* @apply bg-custom-primary; */
  background-color: #1a1a36;
  padding: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #30305f;
  border: #1a1a36 2px solid;
  /* border: black 2px solid; */
}
